COLOR_BRAND_WHITE = #ffffff

COLOR_BRAND_LIGHT_GREY = #b7c1c5
COLOR_BRAND_LIGHT_GREY2 = #adb0b1
COLOR_BRAND_LIGHT_GREY3 = #d4dadc
COLOR_BRAND_LIGHT_GREY4 = #b9c2c6
COLOR_BRAND_LIGHT_GREY5 = #e2e2e2
COLOR_BRAND_DARK_GREY = #6c6f70
COLOR_BRAND_DARK_GREY2 = #333333
COLOR_BRAND_GREY = #e3e3e3
COLOR_BRAND_GREY2 = #cfcfcf

COLOR_BRAND_GREEN = #74d46b
COLOR_BRAND_GREEN2 = #09c525

COLOR_BRAND_DARK_BLACK = #373636

COLOR_BRAND_LIGHT_ORANGE = #f8d060
COLOR_BRAND_LIGHT_ORANGE2 = #fb9660

COLOR_BRAND_RED = #d33a11