@import 'colors.styl'
*
	margin 0
	padding 0
	box-sizing border-box
body,html
	font-size 62.5%
body
	background COLOR_BRAND_WHITE
img, video
	display block
	max-width 100%
section
	padding 55px 0
h2, h3
	padding-bottom  15px
	color COLOR_BRAND_DARK_BLACK
	font 400 30px / 1.2 'Playfair Display'
h2
	font-size 36px
	text-align center
a
	text-decoration none
	color inherit

ul
	list-style-type none
li
	list-style-position inside
button
	border none
	outline none
	cursor pointer
input
	border none
	outline none

toggle-dropdown()
	&:after
		display block
		content ''
		position absolute
		width 4px
		height @width
		right 0
		top 50%
		transform translateY(-50%) rotate(45deg)
		border-top 1px solid COLOR_BRAND_WHITE
		border-right @border-top
.container
	max-width 1320px
	margin auto
	padding 0 40px
.grey-bg
	background url(../images/bg.jpg) 0 0 / contain repeat
.controls
	position absolute
	top 0
	left 0
	cursor pointer
	i
		display inline-block
		padding 3px
		border solid COLOR_BRAND_LIGHT_GREY4
		border-width 0 3px 3px 0
	.right
		margin-left 6px
		transform rotate(-45deg)
	.left
		margin-right 6px
		transform rotate(135deg)
	&.in-slider
		width 100%
		height 100%
		i
			position absolute
			top 50%
			padding 5px
			&.left
				left 0
			&.right
				right 0
.orange-arrow:before
	position relative
	left -7px
	top 50%
	content ''
	display inline-block
	border solid COLOR_BRAND_LIGHT_ORANGE
	border-width 0 1px 1px 0
	padding 2px
	transform rotate(-45deg) translateY(-50%)
.cart-icon .icon
	display inline-block
	width 19px
	height 17px
	background url(../images/cart.png) 0 0 / contain no-repeat
.main-btn
	display inline-block
	padding 15px 20px
	color COLOR_BRAND_WHITE
	text-transform uppercase
	font 500 13px / 1.2 'Catamaran'
	letter-spacing .3px
	border-radius 2px
	background-color COLOR_BRAND_LIGHT_GREY
	&.green-btn
		background-color COLOR_BRAND_GREEN
	&.category-btn
		padding-top 8px
		padding-bottom @padding-top
	span
		position relative
		display block
		min-width 90px
		padding-right 15px
		text-align left
		toggle-dropdown()
.patterned
	position relative
	&:after
		content '\007e'
		position absolute
		bottom 0
		left 50%
		transform translateX(-50%)
		color COLOR_BRAND_LIGHT_GREY
		font 400 34px / 0 'Playfair Display'

@media (max-width: 800px)
	.container
		padding 0 20px
@media (max-width: 800px)
	.container
		padding 0 10px
