@import 'colors.styl'
*
	margin 0
	padding 0
	box-sizing border-box
body,html
	font-size 62.5%
body
	background COLOR_BRAND_WHITE
img
	display block
	max-width 100%
h1, h2
	margin-bottom 2.5rem
	letter-spacing .1px
	font 400 25px / 1.2 TimesNewRoman
h2
	font-size 20px
a
	text-decoration none
	color inherit

ul
	list-style-type none
li
	list-style-position inside
button
	border none
	outline none
	cursor pointer

.container
	max-width 1240px
.main-btn
	padding 15px 20px
	color COLOR_BRAND_WHITE
	text-transform uppercase
	font 500 13px / 1.2 'Catamaran'
	letter-spacing .3px
	border-radius 2px
	background-color COLOR_BRAND_LIGHT_GREY
	&.green-btn
		background-color COLOR_BRAND_GREEN
	&.category-btn
		padding-top 8px
		padding-bottom @padding-top
	span
		position relative
		display block
		min-width 90px
		padding-right 15px
		text-align left
		&:after
			display block
			content ''
			position absolute
			width 4px
			height @width
			right 0
			top 50%
			transform translateY(-50%) rotate(45deg)
			border-top 1px solid COLOR_BRAND_WHITE
			border-right @border-top