@import 'colors.styl'
*
	margin 0
	padding 0
	box-sizing border-box
body,html
	font-size 62.5%
body
	background COLOR_BRAND_WHITE
img, video
	display block
	max-width 100%
section
	padding 55px 0
h2, h3
	margin-bottom 15px
	color COLOR_BRAND_DARK_BLACK
	font 400 30px / 1.2 'Playfair Display'
h2
	font-size 36px
	text-align center
a
	text-decoration none
	color inherit

ul
	list-style-type none
li
	list-style-position inside
button
	border none
	outline none
	cursor pointer
input
	border none
	outline none

toggle-dropdown()
	&:after
		display block
		content ''
		position absolute
		width 4px
		height @width
		right 0
		top 50%
		transform translateY(-50%) rotate(45deg)
		border-top 1px solid COLOR_BRAND_WHITE
		border-right @border-top
.container
	max-width 1280px
	margin auto
	padding 0 20px
.main-btn
	padding 15px 20px
	color COLOR_BRAND_WHITE
	text-transform uppercase
	font 500 13px / 1.2 'Catamaran'
	letter-spacing .3px
	border-radius 2px
	background-color COLOR_BRAND_LIGHT_GREY
	&.green-btn
		background-color COLOR_BRAND_GREEN
	&.category-btn
		padding-top 8px
		padding-bottom @padding-top
	span
		position relative
		display block
		min-width 90px
		padding-right 15px
		text-align left
		toggle-dropdown()
.patterned
	position relative
	&:after
		content '\007e'
		position absolute
		bottom 0
		left 50%
		transform translateX(-50%)
		color COLOR_BRAND_LIGHT_GREY
		font 400 34px / 0 'Playfair Display'
