.feed-wrap
	.main-content
		display flex
		justify-content space-between
		> *
			flex-basis 50%
	.slider-article
		position relative
		padding 0 60px 60px 0
		.content
			margin-bottom 15px
			color COLOR_BRAND_DARK_GREY
			font 400 14px / 1.35 'Catamaran'
	.slider
		position relative
	.controls
		display flex
		justify-content space-between
		bottom 0
		left 0
		padding 13px 18px
		background COLOR_BRAND_WHITE
	.slide-info
		position absolute
		right 0
		bottom 0
		width 60%
		padding 30px 24px
		background COLOR_BRAND_WHITE
	.video-article
		display flex
		justify-content space-between
		background COLOR_BRAND_WHITE
		> div
			flex-basis 50%
		.article-content
			padding 25px 22px
		.text
			margin-top 12px
			color COLOR_BRAND_DARK_GREY
			font 400 14px / 1.3 'Catamaran'
		.main-btn
			margin-top 15px
		.avatar
			width 32px
			height @width
			border-radius 50%
			overflow hidden
		.author-info
			display flex
			align-items center
		.blog-data
			margin-left 8px
		.tags
			display block
			a
				position relative
				padding-right 3px
				&:first-of-type:after
					content '\2022'
					margin-left 3px
					color COLOR_BRAND_DARK_BLACK
		.tags, address a
			font 400 12px / 1.2 'Catamaran'
			color COLOR_BRAND_GREEN
		time, address, .time-wrap
			display inline-block
			color COLOR_BRAND_DARK_GREY
			font 400 12px / 1.2 'Catamaran'
	.right-articles
		display flex
		flex-direction column
		justify-content space-between
		padding 0
	.bold
		font-weight 700
	.underscore
		text-decoration underline
	.contacts-article
		position relative
		margin-left 55px
		padding 24px 43% 24px 22px
		background COLOR_BRAND_GREEN
		h2
			font-size 28px
		.content
			margin-top 20px
		.title
			margin-bottom 10px
			color COLOR_BRAND_DARK_BLACK
			font 600 15px / 1.2 'Catamaran'
		.text
			color COLOR_BRAND_DARK_BLACK
			font 400 14px / 1.2 'Catamaran'
	.thumb
		position absolute
		right 5%
		bottom 0
		width 31%
		max-height 100%
		object-fit contain
	.advantages
		display flex
		justify-content space-between
		flex-wrap wrap
		margin-top 45px
		.icon
			margin-right 10px
			flex-shrink 0
		.block
			display flex
			width 30%
			padding 10px 0
			.text
				margin-left 10px
				color COLOR_BRAND_DARK_GREY
				font 400 15px / 1.2 'Catamaran'
				&.bold
					font-weight 600
					color COLOR_BRAND_DARK_BLACK


