.main-footer
	.socials-wrap
		padding-right 20px
		border-right  1px dotted COLOR_BRAND_LIGHT_GREY
	.socials-wrap, .form-wrap
		flex-basis 50%
		text-align center
	.form-wrap
		padding-left 20px
	.title
		color COLOR_BRAND_DARK_BLACK
		font 600 15px / 1.2 'Catamaran'
	.icons
		display flex
		justify-content center
		margin-top 15px
		color COLOR_BRAND_LIGHT_GREY
		font-size 30px
		.icon
			padding 10px 10px 0 10px
	.lead
		margin-top 10px
		color COLOR_BRAND_DARK_GREY
		font 400 14px / 1.2 'Catamaran'
	.main-btn, input
		padding 12px 15px
		letter-spacing .5px
	form
		margin-top 20px
	input
		width 280px
		border 1px solid COLOR_BRAND_GREY2
		margin-right 8px
	.first-line-content
		padding-bottom 30px
		.container
			display flex
			justify-content space-between
	.navigation-content
		padding 55px 0 80px 0
		background COLOR_BRAND_DARK_BLACK
		.container
			display flex
			justify-content space-between
	h3
		padding-bottom 28px
		color COLOR_BRAND_WHITE
		font 400 21px / 1.2 'Playfair Display'
	.list-container
		flex-basis 25%
		&.columned
			flex-basis 50%
			ul
				columns 2
		li
			&:not(:first-of-type)
				margin-top 20px
			color COLOR_BRAND_LIGHT_GREY2
			font 400 14px / 1.2 'Catamaran'
			&:before
				left 0
			a
				padding-left 7px
	.author-rights
		border-bottom 55px solid COLOR_BRAND_DARK_BLACK
		.container
			display flex
			justify-content space-between
			align-items center
			flex-wrap wrap
			> *
				padding-top 12px
				padding-bottom 12px
	.copy
		flex-grow 2
	.company-name, .copy
		color COLOR_BRAND_DARK_GREY
		font 400 14px / 1.2 'Catamaran'
	.company-name
		display inline-block
		margin 0 35px 0 50px
		height 100%
		vertical-align middle
	.logo
		display inline-block
		height 100%
		vertical-align middle
		&:not(:last-of-type)
			margin-right 12px
		img
			height 17px
			width auto

	.list-container.opened
		.handler:after
			content none
	.handler
		display none
		position relative
		width 20px
		height @width
		border-radius 4px
		background COLOR_BRAND_GREY3
		cursor pointer
		&:before, &:after
			content ''
			position absolute
			top 50%
			left 50%
			transform translate3d(-50%,-50%,0)
		&:before
			width 10px
			border-bottom 1px solid COLOR_BRAND_WHITE
		&:after
			height 10px
			border-right 1px solid COLOR_BRAND_WHITE
@media (max-width: 1024px)
	.main-footer
		input
			width 50%
@media (max-width: 800px)
	.main-footer
		.container
			flex-wrap wrap
		.navigation-content
			padding 0
		.list-container
			flex-basis 30%
			h3
				padding-top 25px
			ul
				padding-bottom 30px
		input
			width 30%
		.socials-wrap, .form-wrap
			padding 0
			flex-basis 100%
		.form-wrap
			padding-top 25px
		.socials-wrap
			position relative
			padding-bottom 25px
			border-right 0
			&:after
				content ''
				display block
				position absolute
				width 90%
				bottom 0
				left 50%
				transform translateX(-50%)
				border-bottom 1px dotted COLOR_BRAND_LIGHT_GREY
		.first-line-content .container
			flex-wrap wrap

@media (max-width: 600px)
	.main-footer
		.handler
			display block
		.list-container, .list-container.columned
			flex-basis 100%
		.list-container
			ul
				display none
			h3
				display flex
				justify-content space-between
				align-items center
			&.opened
				ul
					display block
			&:not(last-of-type)
				border-bottom 1px solid COLOR_BRAND_GREY3
		.company-name
			margin-left 0
		.author-rights .container
			flex-direction  column


@media (max-width: 480px)
	.main-footer
		form
			display flex
			justify-content space-between
			button
				flex-shrink 0
		input
			width 50%
