.main-footer
	.socials-wrap
		border-right  1px dotted COLOR_BRAND_LIGHT_GREY
	.socials-wrap, .form-wrap
		flex-basis 50%
		text-align center
	.title
		color COLOR_BRAND_DARK_BLACK
		font 600 15px / 1.2 'Catamaran'
	.icons
		display flex
		justify-content center
		margin-top 15px
		color COLOR_BRAND_LIGHT_GREY
		font-size 30px
		.icon
			padding 10px 10px 0 10px
	.lead
		margin-top 10px
		color COLOR_BRAND_DARK_GREY
		font 400 14px / 1.2 'Catamaran'
	.main-btn, input
		padding 12px 15px
		letter-spacing .5px
	form
		margin-top 20px
	input
		border 1px solid COLOR_BRAND_GREY2
		margin-right 8px
	.first-line-content
		padding-bottom 30px
		.container
			display flex
			justify-content space-between
	.navigation-content
		padding 55px 0 80px 0
		background COLOR_BRAND_DARK_BLACK
		.container
			display flex
			justify-content space-between
	h3
		padding-bottom 8px
		color COLOR_BRAND_WHITE
		font 400 21px / 1.2 'Playfair Display'
	.list-container
		flex-basis 20%
		padding-right 20px
		li
			margin-top 20px
			color COLOR_BRAND_LIGHT_GREY2
			font 400 14px / 1.2 'Catamaran'
			&:before
				left 0
			a
				padding-left 7px
		&.no-title
			margin-top 33px
	.author-rights
		border-bottom 55px solid COLOR_BRAND_DARK_BLACK
		.container
			display flex
			justify-content space-between
			align-items center
			flex-wrap wrap
			padding 12px 0
	.copy
		flex-grow 2
	.company-name, .copy
		color COLOR_BRAND_DARK_GREY
		font 400 14px / 1.2 'Catamaran'
	.company-name
		display inline-block
		margin 0 35px 0 50px
		height 100%
		vertical-align middle
	.logo
		display inline-block
		height 100%
		vertical-align middle
		&:not(:last-of-type)
			margin-right 12px
		img
			height 17px
			width auto
