.items-list-wrap
	.lead
		padding-bottom 15px
		color COLOR_BRAND_DARK_GREY
		text-align center
		font 400 15px / 1.2 'Catamaran'
	.content
		padding-top 10px
	.thumb
		display block
		overflow hidden
	ul
		display flex
		justify-content space-between
		flex-wrap wrap
	li
		position relative
		margin-top 22px
		flex-basis 15%
	img
		width 88px
		height @width
		margin auto
		object-fit cover
		border-radius 50%
	.name
		margin-top 15px
		text-align center
		font 400 15px / 1.2 'Catamaran'
		color COLOR_BRAND_DARK_BLACK
