.offices-wrap
	.offices
		position relative
		z-index 10
	article
		flex-basis 32%
		padding 0 20px 20px 20px
	.image
		margin 0 -20px
	header
		padding 22px 0
		border-bottom 1px solid COLOR_BRAND_LIGHT_GREY4
		p, address
			color COLOR_BRAND_DARK_GREY
			font 400 14px / 1.2 'Catamaran'
		address
			margin 10px 0
		span.time-value
			font-weight 600
			color COLOR_BRAND_DARK_BLACK
	.title
		color COLOR_BRAND_DARK_BLACK
		font 600 15px / 1.2 'Catamaran'
		&:before
			left 0
	.content
		margin-top 20px
	.main-text-content, .time, footer a
		color COLOR_BRAND_DARK_GREY
		font 400 14px / 1.2 'Catamaran'
	.time
		font-size 12px
	.top-info
		display flex
	.main-text-content
		margin 15px 0 30px 0
	.icon
		margin-right 12px
	footer a
		color COLOR_BRAND_DARK_BLACK
		text-decoration underline
	.slides
		display flex
		justify-content space-between
		padding 0
		margin-top 30px
	.link-wrap
		margin-top 25px
		text-align center