@font-face
	font-family 'Catamaran'
	src url('../../fonts/catamaran/Catamaran-Light.eot')
	src url('../../fonts/catamaran/Catamaran-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/catamaran/Catamaran-Light.woff2') format('woff2'),
		url('../../fonts/catamaran/Catamaran-Light.woff') format('woff'),
		url('../../fonts/catamaran/Catamaran-Light.ttf') format('truetype')
	font-weight 300
	font-style normal
@font-face
	font-family 'Catamaran'
	src url('../../fonts/catamaran/Catamaran-Regular.eot')
	src url('../../fonts/catamaran/Catamaran-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/catamaran/Catamaran-Regular.woff2') format('woff2'),
		url('../../fonts/catamaran/Catamaran-Regular.woff') format('woff'),
		url('../../fonts/catamaran/Catamaran-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal
@font-face
	font-family 'Catamaran'
	src url('../../fonts/catamaran/Catamaran-Medium.eot')
	src url('../../fonts/catamaran/Catamaran-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/catamaran/Catamaran-Medium.woff2') format('woff2'),
		url('../../fonts/catamaran/Catamaran-Medium.woff') format('woff'),
		url('../../fonts/catamaran/Catamaran-Medium.ttf') format('truetype')
	font-weight 500
	font-style normal
@font-face
	font-family 'Catamaran'
	src url('../../fonts/catamaran/Catamaran-SemiBold.eot')
	src url('../../fonts/catamaran/Catamaran-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/catamaran/Catamaran-SemiBold.woff2') format('woff2'),
		url('../../fonts/catamaran/Catamaran-SemiBold.woff') format('woff'),
		url('../../fonts/catamaran/Catamaran-SemiBold.ttf') format('truetype')
	font-weight 600
	font-style normal
@font-face
	font-family 'Catamaran'
	src url('../../fonts/catamaran/Catamaran-Bold.eot')
	src url('../../fonts/catamaran/Catamaran-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/catamaran/Catamaran-Bold.woff2') format('woff2'),
		url('../../fonts/catamaran/Catamaran-Bold.woff') format('woff'),
		url('../../fonts/catamaran/Catamaran-Bold.ttf') format('truetype')
	font-weight 700
	font-style normal