@font-face
	font-family 'Gotham XLight'
	src url('../../fonts/gotham/Gotham-XLight.eot')
	src url('../../fonts/gotham/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/gotham/Gotham-XLight.woff2') format('woff2'),
		url('../../fonts/gotham/Gotham-XLight.woff') format('woff'),
		url('../../fonts/gotham/Gotham-XLight.ttf') format('truetype')
	font-weight 400
	font-style normal